bochs-2.6.7
*.tar.gz
apunts
zeos/bochsout.txt
Projecte/bochsout.txt
*.o
*.s
zeos/bootsect
zeos/build
zeos/system
zeos/system.out
zeos/user
zeos/user.out
zeos/zeos.bin
Projecte/bootsect
Projecte/build
Projecte/system
Projecte/system.out
Projecte/user
Projecte/user.out
Projecte/zeos.bin
